3_N8N/02_Basics/03-DB/4_qdrant/3_4_2_Qdrant_GetMany.json
{
  "name": "3_4_2-Qdrant-GetMany",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -40,
        80
      ],
      "id": "92f6f80a-01e5-42dd-9fb9-17bc445c3e76",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "n8n_test_data",
          "mode": "list",
          "cachedResultName": "n8n_test_data"
        },
        "prompt": "laptop",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        200,
        80
      ],
      "id": "e97dfecd-5b8e-422a-adac-09aa032b2cc6",
      "name": "Qdrant Vector Store",
      "alwaysOutputData": false,
      "notesInFlow": true,
      "credentials": {
        "qdrantApi": {
          "id": "P1UehpY0oJbEfaSI",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "all-minilm:l6-v2"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        220,
        280
      ],
      "id": "9fa982b4-80b9-4c5c-ad72-5e15a5a7fd0a",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "0h2U0IrdRAL5oEBv",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "console.log($input.all())\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        80
      ],
      "id": "51577092-a378-40bb-a05b-f68bb7278209",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_vectorStore": [
        []
      ]
    },
    "Code": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c73a2b62-983e-4944-aa52-8c14057a81cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41d606a1a24293c789026869c85829c359b37aa1d75ba26c221717836b27fec2"
  },
  "id": "rO4VJJFRD8bxPLEX",
  "tags": []
}