3_N8N/03_Agents/3-ai-agents/2-tools/3.2.8 Human-in-the-loop.json
{
  "name": "3.2.8 Human-in-the-loop",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [0, 20],
      "id": "d0e5108d-46a5-4c28-ac7c-8eba01981195",
      "name": "When chat message received",
      "webhookId": "00120714-cd7b-4e2e-a8bb-3f9e49e0d3f0"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [260, 20],
      "id": "1fe6b4bd-ee01-4dc4-b89a-4be5cb8624df",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [460, 240],
      "id": "4d6cef77-0f4c-4327-adcb-f10b9e8e0354",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "QnfVnVKYlHwGCtyj",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [340, 240],
      "id": "a6dada5c-0794-4611-b3d3-173bfe3cdfbb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "mistral:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [220, 240],
      "id": "3f3c74ca-6671-4e5b-8b32-e721a10bab00",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "BYI7XqprNPPEtr2t",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#human-validate",
          "mode": "name"
        },
        "message": "=Can you please validate the joke below?\n\n{{ $json.output }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [660, 20],
      "id": "cac63bbe-3fba-4d5d-a3fc-8d21b1114a2c",
      "name": "Send a message",
      "webhookId": "4ef97d02-32a6-4d06-8065-97a974409582",
      "credentials": {
        "slackApi": {
          "id": "3jPC14Rp5CvJLa81",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "7f53e98e-f561-468e-8e85-d6463a02b356"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Approved"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "72a0472b-bd8e-498c-883d-628fb38ab347",
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "no-approve",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not approved"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [880, 20],
      "id": "376e83e9-2434-4282-80c0-bdddf87d9e57",
      "name": "Switch"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#new-channel",
          "mode": "name"
        },
        "text": "={{ $('AI Agent').item.json.output }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [1100, -80],
      "id": "163c6cd7-fbc6-4e95-be42-f33512b7b803",
      "name": "Send a message1",
      "webhookId": "374f4beb-ce75-40b7-a928-a41aca536ad0",
      "credentials": {
        "slackApi": {
          "id": "3jPC14Rp5CvJLa81",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1320, -80],
      "id": "c94ca58a-249f-47ef-8e48-837e3d5620f3",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "jsCode": "console.log($input);\n\nreturn $input"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 120],
      "id": "b6213840-9a65-46f3-ab48-b6816e6bd70f",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1320, 120],
      "id": "f2f41e46-aaa6-4827-baec-429efef5299b",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "## Prompts\nHey, produce a simple joke about software engineering.",
        "height": 400,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-540, -100],
      "typeVersion": 1,
      "id": "b43f9d20-a92a-4fa8-b405-5795db02afd8",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "558526d2-15c1-44c3-95c2-1fae73f283e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "920cb5ca3de38fa2a2a1592b0c40fadea77e9a36b95dca7b272578056d96629c"
  },
  "id": "ZIZAQVLK8B61ukpE",
  "tags": []
}
