3_N8N/02_Basics/03-DB/3_elasticsearch/3_3_1_Elastic_Insert.json
{
  "name": "3_3_1_Elastic_Insert",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "00835945-0e41-4fb2-a69f-c614a72f4c8c",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "const products = [\n    {\n        id: \"1\",\n        title: \"Wireless Bluetooth Headphones\",\n        description: \"Over-ear noise-cancelling headphones with 20h battery life\",\n    },\n    {\n        id: \"2\",\n        title: \"Gaming Laptop\",\n        description: \"High-performance laptop with RTX 3060 GPU and 16GB RAM for gaming and content creation\",\n    },\n    {\n        id: \"3\",\n        title: \"Eco-Friendly Water Bottle\",\n        description: \"Reusable stainless steel bottle made from recycled materials, keeps drinks cold for 24h\",\n    },\n    {\n        id: \"4\",\n        title: \"Fitness Tracker Watch\",\n        description: \"Tracks steps, heart rate, and sleep with 7-day battery and waterproof design\",\n    },\n    {\n        id: \"5\",\n        title: \"Smart Home Security Camera\",\n        description: \"1080p WiFi indoor camera with motion detection and mobile alerts\",\n    },\n    {\n        id: \"6\",\n        title: \"Hiking Backpack\",\n        description: \"Water-resistant backpack with 35L capacity, suitable for mountain trips\",\n    },\n    {\n        id: \"7\",\n        title: \"Mechanical Keyboard\",\n        description: \"RGB backlit mechanical keyboard with tactile switches, perfect for gamers\",\n    },\n    {\n        id: \"8\",\n        title: \"Noise-Isolating Earbuds\",\n        description: \"Compact in-ear headphones with rich bass and passive noise isolation\",\n    },\n    {\n        id: \"9\",\n        title: \"4K Monitor\",\n        description: \"Ultra HD 27-inch monitor with HDR support and slim bezel design\",\n    },\n    {\n        id: \"10\",\n        title: \"Portable Solar Charger\",\n        description: \"Foldable solar charger with USB-C output for phones and tablets on the go\",\n    },\n];\n\nreturn products"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "6f53aa43-f274-48bc-98d6-cda0ee2baeec",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "create",
        "indexId": "n8n_products",
        "dataToSend": "autoMapInputData",
        "additionalFields": {},
        "options": {}
      },
      "type": "n8n-nodes-base.elasticsearch",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "c34914ee-9001-4c8e-b3ae-1202cd994f03",
      "name": "Elasticsearch",
      "credentials": {
        "elasticsearchApi": {
          "id": "9MMPeX3XznEqSRYR",
          "name": "Elasticsearch account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "console.log($input.all())\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "593c11fd-0b4a-4e4c-be88-e2e4b66204d7",
      "name": "Log"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Elasticsearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Elasticsearch": {
      "main": [
        [
          {
            "node": "Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c9cf48eb-e6c0-4b2e-823a-a1e423d536df",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41d606a1a24293c789026869c85829c359b37aa1d75ba26c221717836b27fec2"
  },
  "id": "4kMuuAfCYOqhWC1n",
  "tags": []
}