3_N8N/02_Basics/03-DB/1_mssql/3_1_2_MSSQL_Select.json
{
  "name": "3_1_2_MSSQL_Select",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-440, -80],
      "id": "809b797b-2681-4d14-97f8-4b34b61600fe",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT TOP (1000) [id]\n      ,[title]\n      ,[description]\n  FROM [n8n_test_db].[dbo].[products]"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [-220, -80],
      "id": "3f04555d-4c69-47a9-bfc9-2338bee05016",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "FTlMFYN7sOsHjhjA",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "console.log($input.all())\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, -80],
      "id": "96d855c5-fd8a-4a97-a7bd-081fea87635b",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ec549834-1cc5-4faa-9e40-915aa6762f7b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41d606a1a24293c789026869c85829c359b37aa1d75ba26c221717836b27fec2"
  },
  "id": "qVHYXz3hi6CvjSOk",
  "tags": []
}
