3_N8N/02_Basics/02-API/2_1-HTTP_REST.json
{
  "name": "2_1-HTTP-REST",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [120, -160],
      "id": "ad063c45-101a-4c32-91a3-51fcbdde2c51",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://httpbin.org/get",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, -160],
      "id": "d5f4e5f4-00ac-431b-a706-0f0849868bd2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "console.log($input.all())\n\nreturn $input.all()\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, -160],
      "id": "cc66093d-4b9b-483e-ae6c-124cb79af3b6",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [[]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "880cec2b-f947-4130-9068-7fa8a63ecd03",
  "meta": {
    "instanceId": "56f0fb7864fd4715d6b856fb7d15019871e7c74a4c5f5341afe764a8aa7d9adb"
  },
  "id": "AQTvYVFc15Hbj9iQ",
  "tags": []
}
